body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;
    font-family: Poppins, sans-serif;
    color: #bc9262;
    min-height: 100vh;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.home__intro {
    position: relative;
    width: 100%;
}

.intro__video video {
    width: 100%;
}

.intro__filter {
    position: absolute;
    top: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.intro__text {
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: 2;
    color: white;
}

.text__heading {
    font-size: 70px;
    letter-spacing: 3px;
}

.text__quality {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 25px;
}

.quality__item {
    padding: 5px;
}

.quality__item:after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 13px;
    right: -20px;
    background-color: white;
}

.home__element {
    margin: 10px 0;
    position: relative;
    width: 100%;
}

.element__img img {
    width: 100%;
}

.element__text_holder {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_holder__text {
    color: white;
    font-size: 20px;
    align-items: center;
}


.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}


p {
    text-indent: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;
    font-family: Poppins, sans-serif;
    color: #bc9262;
    min-height: 100vh;
}

.about_us {
    margin: 20px auto;
    width: 90%;
}

.about_us__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.holder__element {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.element__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

.element__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.element__img img {
    width: 100%;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}



.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}



.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;
    font-family: Poppins, sans-serif;
    color: white;
    min-height: 100vh;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.confirmation {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation__heading {
    font-size: 40px;
    margin: 10px;
}

.confirmation__holder {
    display: flex;
    flex-direction: row;
}

.holder__image img {
    width: 25vw;
}

.holder__text_holder {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.holder__text_holder div {
    margin: 15px 5px;
}

.text__btn a:hover {
    text-decoration: none;
}

.text__btn a {
    color: white;
}

.text__btn {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #bc9262;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text__btn:hover {
    background-color: forestgreen;
    transition:background-color 0.3s linear;
}

.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;
    font-family: Poppins, sans-serif;
    color: #bc9262;
    min-height: 100vh;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.search {
    margin: 40px auto;
    width: 80%;
}

.search__bar {
    display: flex;
    position: relative;
}
.search_term {
    width: 100%;
    border: 3px solid #bc9262;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.btn_search, .btn_open_more {
    width: 40px;
    height: 40px;
    border: 2px solid #bc9262;
    background: #bc9262;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.btn_search {
    border-radius: 0 5px 5px 0;
}

.search__div {
    width: 100%;
    background-color: #bc9262;
    color: white;
    max-height: 0;
    overflow: hidden;
    -webkit-transition:max-height 0.3s linear;
    -moz-transition:max-height 0.3s linear;
    transition:max-height 0.3s linear;
}

.search__config {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.config__sort_by {
    width: 250px;
}

.prise_interval {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prise_interval div {
    margin: 2px;
}

.prise_interval__text {
    font-weight: bold;
}

.prise_interval__input {
    width: 100px;
}

.card_holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.card_item {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    background-color: white;
    height: 200px;
    width: 80%;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.card__image img {
    width: 200px;
    max-height: 200px;
}

.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card__text {
    padding: 5px 0 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__heading div a {
    text-decoration: none;
    color: #bc9262;
}

.heading__review {
    font-size: 13px;
}

.heading__review:hover {
    text-decoration: underline;
}

.heading__name {
    font-size: 25px;
}

.card__prise {
    border-left: 2px solid #f2f2f2;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.prise__count {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.prise__btn a:hover {
    text-decoration: none;
    color: white;
}

.prise__btn a {
    color: white;
}

.prise__btn {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #bc9262;
    font-size: 14px;
    font-weight: bold;
}

.prise__btn:hover {
    background-color: forestgreen;
    transition:background-color 0.3s linear;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pagination {
    margin: 10px auto;
}

.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}

.page {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    color: #bc9262;
}

.page__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.page__image img {
    width: 100%;
}

.page__login {
    width: 40%;
}

.login_container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login__welcome {
    margin: 0 0 20px 0;
}

.login__welcome__text {
    color: white;
    font-size: 3rem;
}

.error_text {
    text-align: center;
    font-size: 12px;
    color: red;
}

.login__form {
    width: 300px;
}

.form__input {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 25px 0;
    padding: 10px 0;
    border-bottom: 2px solid #f2f2f2;
}

.input__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow_icon {
    display: none;
}

.input__text {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 18px;
    transition: .3s;
}

.input__div {
    position: relative;
    width: 90%;
}

.input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0 0.7rem;
    font-size: 1.2rem;
    color: white;
}

.form__btn input{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #bc9262;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.login__avatar img {
    width: 150px;
}

.input__icon img {
    width: 20px;
}

.form__input.focus .input__text {
    top: -8px;
    font-size: 14px;
    color: #bc9262;
}

.form__input.focus .white_icon {
    display: none;
}

.form__input.focus .yellow_icon {
    display: block;
}

.form__input:before, .form__input:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #bc9262;
    transition: .4s;
}

.form__input:before{
    right: 50%;
}

.form__input:after{
    left: 50%;
}

.form__input.focus:before,
.form__input.focus:after {
    width: 50%;
}

.form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.form__bottom__sing_up a {
    color: #bc9262;
    text-decoration: none;
}

.form__bottom__sing_up a:hover {
    color: #bc9290;
}

.form__bottom__checkbox {
    display: flex;
    flex-direction: row;
}

.form__radio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #bc9262;
    padding: 10px 0;
}

.radio__gender {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}


@media screen and (max-width: 900px){
    .page__image {
        display: none;
    }

    .page{
        justify-content: center;
        align-items: center;
    }
}

p {
    text-indent: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;
    font-family: Poppins, sans-serif;
    color: #bc9262;
    min-height: 100vh;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.news {
    width: 80%;
    margin: 20px auto;
}

.news_holder {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.post__image img {
    width: 100%;
    max-height: 60vh;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.post__text {
    padding: 10px;
}

.text__heading {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.text__day {
    border-top: 2px solid #f2f2f2;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pagination {
    margin: 10px auto;
}

.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}


.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}



.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}



/* */


.users_profile {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: white;
}

.users_profile span {
    color: #bc9262;
}

.users_profile .edit {
    display: inline-block;
}

.users_profile .edit p a img {
    width: 2vw;
    margin-right: 0.5vw;
}

.users_profile .edit a {
    font-size: 1.1vw;
    color: #bc9262;
}

.users_profile .users_photo {
    width: 16vw;
    border-radius: 6px;
    vertical-align: top;
    margin-bottom: 20px;
}

.users_profile .users_information {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
}

.users_profile .users_information p {
    font-size: 2vw;
}

.users_profile .about_me {

}

.users_profile .about_me p {
    font-size: 1.5vw;
}

@media (min-device-width: 100px) and (max-device-width: 994px) {

    .wrapper {
        justify-content: normal;
    }

    .users_profile .users_information p {
        font-size: 3vw;
    }
    .users_profile .edit a {
        font-size: 3vw;
    }

    .users_profile .about_me p {
        font-size: 3vw;
    }
    .bottom__div {
        position: relative;
        top: 54vw;
    }
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}



.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}


/**/

.settings {
    margin-left: auto;
    margin-right: auto;
}

.settings .change_photo {
    display: inline-block;
}

.settings .change_photo img {
    width: 16vw;
    border-radius: 6px;
    margin-bottom: 1vw;
}

.settings .change_photo p {
    text-align: center;
}

.settings .change_photo input {
    text-align: center;
}

.settings .union {
    vertical-align: top;
    display: inline-block;
    margin-left: 2vw;
}

.settings .union .change_name p,
.settings .union .change_birth_date p,
.settings .union .change_photo p,
.settings .union .change_gender p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.settings .union .change_name {
    margin-bottom: 1vw;
}

.settings .union .change_name input {
    width: 25vw;
    margin-left: 2vw;
    height: 2.2vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    margin-right: 0.5vw;
}

.settings .union .change_birth_date input {
    margin-left: 2vw;
    height: 2.2vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    margin-right: 0.5vw;
}

.settings .change_about_me textarea {
    width: 60vw;
    height: 10vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
}

.settings .change_about_me button{
    position: relative;
    top: 1vw;
}

.settings button {
    background-color: #bc9262;
    border-radius: 6px;
    outline: none;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    margin: 0 0 0 40px;
}

.ticket_container {
    margin: 20px auto;
    width: 80%;
}

.ticket_div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.ticket__image img {
    width: 100%;
    max-height: 80vh;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.ticket__information {
    padding: 10px 20px;
    color: black;
}

.information__head {
    font-weight: bold;
    font-size: 20px;
}

.ticket__prise {
    border-top: 2px solid #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prise__day {
    display: flex;
    flex-direction: row;
}

.count__date, .count__inf {
    margin: 0 5px;
}

.prise__buy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prise__count {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.prise__btn a:hover {
    text-decoration: none;
    color: white;
}

.prise__btn a {
    color: white;
}

.prise__btn {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #bc9262;
    font-size: 14px;
    font-weight: bold;
}

.prise__btn:hover {
    background-color: forestgreen;
    transition:background-color 0.3s linear;
}

.comments_div {
    width: 80%;
    margin: 5px auto;
}

.comments_heading {
    font-size: 25px;
    font-weight: bold;
    margin: 0 20px 20px 20px;
}

.comment, .comment_us {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    color: black;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.comment_us {
    flex-direction: column;
    align-items: flex-end;
}

.comment_us__input {
    padding: 10px;
    width: 100%;
}

.comment_us__input textarea {
    width: 100%;
    height: 5vw;
}

.comment_us__btn {
    padding: 0 20px 10px 0;
}

.comment_us__btn button {
    background-color: #bc9262;
    border-radius: 6px;
    outline: none;
}

.comment__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.comment__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.comment__inform {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.comment__author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0 10px 5px 10px;
}

.bottom__div {
    height: 20px;
    width: 100%;
    background-color: black;
}


